.container{
    height: 60vh;
    margin: 100px auto;
}
h1{
    padding-bottom: 30px;

}
.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}
.result{
    width: 100%;
    height: 40px;
    border: 0.1px solid rgba(163, 163, 163, 0.375);
    border-radius: 5px;
    padding: 0px 10px;
    line-height: 40px;
    background: white;
}